body {
    color: white;
    background-image: url('imgs/starrygif.gif');
    background-size: cover;
    padding-top: 2%;
    font-family: "kopik", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: "gimlet-display", serif;
    font-style: normal;
    font-size: 60px !important;
}

.title {
    color: crimson;
    font-family: "skope", serif;
    font-style: italic;
    font-size: 60px;
}

/*Image stuff*/
img {
    border-radius: 3%;
    transition: 0.1s;
}

img:hover {
    border: dotted 5px white
}

img#bell {
    border-radius: 0 !important;
    transition: 4s
}

img#bell:hover {
    border: double 10px red !important
}

/*The button*/
button {
    background-color: transparent !important;
    color: white;
    border: 3px double white !important;
    border-radius: 3px;
    transition: 1s;
}

button:hover {
    background-color: white !important;
    color: black;
    border: 5px solid black !important;
    border-radius: 40px;
    font-family: "kopik", sans-serif;
    font-weight: 700;
    font-style: italic;
    box-shadow: 2px 2px 2px white;
    font-size: 20px;
}
