body {
    color: white;
    background-image: url('imgs/starrygif.gif');
    background-size: cover;
    padding-top: 2%;
}

h1 {
    font-family: "gimlet-display", serif;
    font-style: normal;
    font-size: 60px !important;
}

.title {
    color: crimson;
    font-family: "skope", serif;
    font-style: italic;
    font-size: 60px;
}



/*Image stuff*/
img {
    border-radius: 3%;
    transition: 0.1s;
}

img:hover {
    border: dotted 5px white
}

img#bell {
    border-radius: 0 !important;
    transition: 4s
}

img#bell:hover {
    border: double 6px red !important
}

/*The button*/
button {
    background-color: transparent !important;
    color: white;
    border: 3px double white !important;
    border-radius: 3px;
}